section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height:  100%;
    height: 100vh;
    max-width: 100%;
    scroll-behavior: smooth;
}
.section{
    height: 50px;
    padding: 10px auto;
    border: none;
    outline: none;
    border-radius: 10px;
    gap: 2rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 700px;
    text-align:center ;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px rgb(230, 232, 246);
    border: none;
    transition: all 0.2s;
}
.section:hover{
    border-left: 5px solid lime;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}
.about{
        display: flex;
    align-items: center;
    justify-content: center;
}
.small{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
    overflow: hidden;
}
@media (max-width:600px) {
    .section{
        width: 300px;
        font-size: medium;
    }
    span{
        font-size:large;
    }
}