#project{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: 2rem;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: max-content;
    width: max-content;

}
.i{
    height:30px ;
    width: 50px;
    outline: hidden;
    background-size: cover;
    /* gap: 9rem; */
    margin: auto 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lala{
     margin: auto 7rem;
    width: 180px;
    height: 130px;
    height: max-content;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    box-shadow: 8px 8px 16px rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
@media (max-width:600px){
    .img-container{
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6rem;
    }
    .lala{
        height: 100px;
        width: 170px;
    }
    #project{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
}