.myproject{
    
}
.img-containers{
    margin-top: 8%;
width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    display: flex;
    align-items:center ; 
    justify-content: center;
    flex-wrap: wrap;
    
}
.i{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 20px;
    border: none;
}

.lala{
     margin: auto 7rem;
    width: 180px;
    height: 150px;
    height: max-content;
    border-radius: 20px;
    margin: 10px;
    background-size: cover;
    box-shadow: 8px 8px 16px rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
#a{
background-image:url("../assets/password.jpg") ;
background-size: cover;
height: 200px;
}
#b{
background-image:url("../assets/tic.jpg") ;
background-size: cover;
height: 200px;
}
#e{
background-image: url("../assets/time.jpg");
background-size: cover;
height: 200px;
}
#d{
background-image:url("../assets/calculator.jpg") ;
background-size: cover;
height: 200px;

}
@media (max-width:600px){
    .img-container{
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6rem;
    }
    .lala{
        height: 100px;
        width: 170px;
    }
    #project{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
    .i{
         width: 100px;
    height: 100px;
    }
    #a,#b,#e,#d{
        height: 130px;
        border-radius: 20px;
        border: none;
        box-shadow: 2px 2px 5px gray;
    }
}