.part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    gap: 7rem;
    flex-direction: row;
    max-width: 100%;
}
.bag{
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: lime;
    border: none;
}
.images{
    border: none;
 outline: hidden;
   background-image: url("../assets/profile.jpg");
   background-size: cover;
   width: 300px;
   height: 300px;
   display: flex;
   align-items: center;
   border: none;
   border-radius: 50%;
   outline: none;
   border: transparent;
   box-shadow: 5px 5px 14px rgba(1, 247, 5, 0.311);

}
.name {
  font-size: large;
    
}
.designer{
   font-size: 30px;
    font-weight: 600;
}
#a{
    font-size: 16px;
}
.about{
   
   display: flex;
   align-items: center;
   
   flex-direction: column;
   justify-content: center;
   left: 1rem;
   top: 18rem;
}
.div{
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 2rem;
    font-size: larger;
}
.web{
    box-shadow: 2px 2px 10px lime;
    color: lime;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
}
.web:hover{
    box-shadow: 2px 2px 10px lime;
    transform: scale(1.1);
}
@media (max-width:600px) {
    .part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .my{
        width: fit-content;
        
        
    }
    .name {
        font-size: 30px;
    }
    .designer{
        font-size: 10px;
    font-weight: 200;
}
.images{
    width: 242px;
    height: 249px;
}
}