.part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 7rem;
    margin-top: 2rem;
}
.my{
    box-shadow: 3px 3px 10px gray;
    border-radius: 20px;
    height: 80vh;
    object-fit: cover;
    border: none;
    outline: hidden;
    margin-bottom: 1rem;

}
.name {
    font-size: 60px;
    font-weight: 800;
    
}
.designer{
   font-size: 60px;
    font-weight: 800;
}
#about{
    font-size: large;
}
.about{
   display: flex;
   align-items: center;
   
   flex-direction: column;
   justify-content: center;
   left: 1rem;
   top: 18rem;
}
@media (max-width:600px) {
    .part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .my{
        width: fit-content;
    }
    .name .designer{
        font-size: 50px;
    }
}