.part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    gap: 7rem;
    flex-direction: row;
    max-width: 100%;
    margin-top: 20px;
    
}
.bag{
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: lime;
    border: none;
}
.my{
    box-shadow: 3px 3px 10px gray;
    border-radius: 40px;
    height: 50vh;
    object-fit: cover;
    border: none;
    outline: hidden;
    position: relative;
    z-index: -1;
}
.name {
    font-size: 60px;
    font-weight: 800;
    
}
.designer{
   font-size: 60px;
    font-weight: 800;
}
#about{
    font-size: large;
}
.about{
   
   display: flex;
   align-items: center;
   
   flex-direction: column;
   justify-content: center;
   left: 1rem;
   top: 18rem;
}
.items{
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
}
.web{
    box-shadow: 2px 2px 10px lime;
    color: lime;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
}
.web:hover{
    transform: translate(0.7px);
}
@media (max-width:600px) {
    .part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .my{
        width: fit-content;
        
        
    }
    .name {
        font-size: 40px;
    }
    .designer{
   font-size: 30px;
    font-weight: 400;
}
}