.education{
    height: 100vh;
    width: 100%;
    height: max-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px auto;
}
.container{
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.sub{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 280px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 7px;
    gap: 1rem;
    box-shadow: 4px 4px 10px rgba(213, 214, 213, 0.215);
    border-radius: 20px;
    border: none;
    outline: none;
}
.sub button{
    width: 5rem;
    background-color: lime;
    height: 2rem;
    border-radius: 30px;
}
.line{
    height: 1px ;
    width: 100%;
    background-color: blanchedalmond;
}
h4{
    color: yellow;
}
.year{
    font-weight: bold;
   animation: move 2s ease-in-out 0.2s infinite;
}
@keyframes move{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
}
.sub{
     display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 230px;
    height: max-content;
    width: 260px;
    border: 1px solid white;
    border-radius: 10px;
    /* padding: 5px 3px; */
  
    box-shadow: 4px 4px 10px rgb(212, 215, 212);
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    
}
}
