*{
   margin: 0%;
   padding: 0%;
}
html{
    scroll-behavior: smooth;
}

button{
    width: 60px;
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    margin-left: 1rem;
}
.dark{
    background-color: #0a192f;
    color: #ccd6f6;
}
.light{
 background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color:#0a1921;
    backdrop-filter: blur(10px);
    text-align: center;
box-shadow: 2px 2px 10px gray;
position: sticky;
top: 0;
}
/* h3{
    position: absolute;
    left: 1rem;
} */
.container{
    margin: 10px auto;
     font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 0px 10px;
}
.logo{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
    transition: all 0.1s;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
li{
    border: 1px solid white;
    height:2.8rem;
    width: 4.7rem;
     text-align: center;
     display: flex;
     align-items: center;
     border: none;
     border-radius: 10px;
     padding: 5px;
}
li:hover{
background-color: gray;
box-shadow: 4px 4px 10px rgb(31, 50, 50);

   
}
button{
    border: none;
    padding: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px auto;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1rem;
    font-weight: 700;
}
#c{
    margin: 10px ;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: lime;
}
.humber{
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    transition: all 0.5s;
}
li{
    transition: all 0.3s;
}
.humber:hover{
    /* background-color: rgb(82, 72, 72); */
    border-radius: 5px;
    box-shadow: 4px 4px 10px darkslategrey;
}
.side1 ,.side2 ,.side3{
    height: 2px;
    width: 1rem;
    border: 1px solid white;
    background-color: aliceblue;
    margin: 1px;
    
}

#check .side1{
    transform: rotateY(-45deg);
}
#check .side2{
    opacity: 0;
}
#check .side3{
    transform: rotateY(45deg);
}



@media (max-width:700px) {
    ul{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around ;
        flex-direction: column;
        top: 0%;
        right: 0%;
        height: 70vh;
        border: 1px solid white;
        background-color: #0a192f;
        margin-top: 3.2rem;
        border: none;
        border-radius: 10px;
        gap: 2rem;
        text-align:center ;
        backdrop-filter: blur(1rem);
        box-shadow: 4px 4px 10px gray;
        color: black;
    }

    .hide{
        visibility: hidden;
    }
    .humber{
        position: absolute;
        right: 1rem;
        visibility: visible;
    }
}
