*{
   margin: 0%;
   padding: 0%;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100vw;
    background-color: black;
    text-align: center;
box-shadow: 2px 2px 10px gray;
position: sticky;
top: 0;
}
h3{
    position: absolute;
    left: 1rem;
}
.container{
    margin: 10px auto;
     font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    margin: 0px 10px;
}
li:hover{
    color: yellow;
}
.logo{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.tag{
    text-decoration: none;
    color: white;
    transition: all 0.1s;
}
.tag:hover{
    border-bottom: 2px solid yellow;
    color: yellow;

}
button{
    border: none;
    padding: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px auto;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1rem;
    font-weight: 700;
}
#contact{
    margin: 10px ;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: lime;
}
.humber{
    margin: 10px auto;
    width: 30px ;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    transition: all 0.5s;
}
.humber:hover{
    /* background-color: rgb(82, 72, 72); */
    border-radius: 5px;
    box-shadow: 4px 4px 10px darkslategrey;
}
.side1 ,.side2 ,.side3{
    height: 2px;
    width: 1rem;
    border: 1px solid white;
    background-color: aliceblue;
    margin: 1px;
    
}




@media (max-width:700px) {
    ul{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around ;
        flex-direction: column;
        top: 0%;
        right: 0%;
        height: 70vh;
        border: 1px solid white;
        background-color: transparent;
        margin-top: 3.2rem;
        backdrop-filter: blur(30px);
        border: none;
    }
    .hide{
        visibility: hidden;
    }
    .humber{
        position: absolute;
        right: 1rem;
        visibility: visible;
    }
}