
.con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
} 
.part1{
     height: max-content;
    width: max-content;
    
}

.part2{
    height: max-content;
    width: max-content;
   border: 1px solid white;
    box-shadow: 8px 8px 10px gray;
    border-radius: 20px;
    padding: 10px;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.part1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 1rem;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkedin{
    border: 1px solid white;
    width: 200px;
    height: 200px;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px gray;

}
.email{
    
       border: 1px solid white;
    width: 200px;
    height: 200px;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
     border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px gray;
}
textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: none;
}
.ss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
   
}
input{
    outline: none;
    
}
#name{
    width:200px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
#pass{
    width:200px;
    border-radius: 10px;
    height: 30px;
    border: none;
}
#se{
    margin: 10px;
    width: 150px;
    background-color: lime;
}
@media (max-width:600px) {
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #name{
         width:100px;
    }
    #pass{
         width:100px;
    }
}