
.con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
} 
/* part2,ss,se */
.part1{
     height: max-content;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.part2{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: smaller;
border: 1px solid white;
margin: 0px 5px;
border-radius: 20px;
box-shadow: 10px 10px 16px rgba(128, 128, 128, 0.251);
border: none;
} 
.part1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 1rem;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkedin{
    border: 1px solid white;
    width: 200px;
    height: 200px;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;

}
.email{
    
       border: 1px solid white;
    width: 200px;
    height: 200px;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
     border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;
}
textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: none;
}
.ss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
   
}
 #se{
        font-size: small;
        width: max-content;
        padding: 5px;
        border-radius:20px ;
        background-color: lime;
    }

textarea{
    border-radius: 10px;
    width: 50%;

}
@media (max-width:600px) {
    #se{
        font-size: small;
        width: max-content;
        padding: 5px;
        border-radius:20px ;
    }
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #name{
         width:50px;
    }
    #pass{
         width:100px;
    }
    .part2{
        font-size: small;
        width: 400px;
        height: 200px;
    }
    .linkedin,.email{
font-size: small;
height: 100px;
    }
}