.footer{
    height: 12vh;
    width: 100vw;
    background-color: rgb(5, 5, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-direction: column;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px black;
    /* border-radius: 10px; */
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 10px;
    margin: 10px auto;   
}
.li{
    border: 1px solid white;
    font-size: medium;
    width: 19px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(5, 255, 5);
    
    cursor: pointer;
    
}